{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    {% include 'partials/_welcome_message.html' with overview_text="Student Dashboard Overview" %}
    
    <div class="row mt-4">
        <!-- Profile Section -->
        <div class="col-12">
            <h2>Profile:</h2>
            <p>Placeholder for managing profile. Display name, etc.</p>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Available Courses Section -->
        <div class="col-12">
            <h2>Available Courses</h2>
            <p>Placeholder for viewing available courses.</p>
            <!-- Iterate over available courses 
            <ul>
                {% for course in courses %}
                    <li>{{ course.title }} - {{ course.description }}</li>
                    <a href="{% url 'course_request_form' course.id %}" class="btn btn-primary btn-sm">Request Course</a>
                {% endfor %}
            </ul> -->
        </div>
    </div>

    
{% endblock %}
