{% extends 'base_content.html' %}
{% load widget_tweaks %}
{% block content %}


<div class="layout">
   {% include 'partials/sidebar.html' %}


   <div class="content" style="background-color: #F0F0F0;">
       <h2>
           Request Modification for {{ enrollment.approved_request.skill.language }}
           ({{ enrollment.approved_request.skill.get_level_display }})
       </h2>


       <form method="post">
           {% csrf_token %}
           {% include 'partials/bootstrap_form.html' with form=form %}
           <button type="submit" class="btn btn-primary">Submit Request</button>
       </form>
   </div>
</div>


{% endblock %}
