{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    {% include 'partials/_welcome_message.html' with overview_text="Tutor Dashboard Overview" %}
    <div class="row mt-4">
    <!-- Tutor Profile Section: Could be unnecessary, but could show Name, skills, and rates all together. --> 
    <div class="col-12">
      <h2>Profile:</h2>
      <p>Placeholder for managing profile.</p>
    </div>
  </div>
  <div class="row mt-4">
    <!-- Skills Allocation Section -->
    <div class="col-12">
      <h2>Tutors Allocation</h2>
      <p>Placeholder for skill management.</p>
    </div>
  </div>
  <div class="row mt-4">
    <!-- Rates Section -->
    <div class="col-12">
      <h2>Student Requests</h2>
      <p>Placeholder for managing tutor rates.</p>
    </div>
  </div>
</div>
{% endblock %}
