{% if user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="z-index: 10; height: 4rem;">

  <a class="navbar-brand" href="{% url 'dashboard' %}">Coding Tutors — <b>{{ user.user_type }} Dashboard</b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav me-6 mb-2 mb-md-0">

    </ul>
    
    {% include 'partials/menu.html' %}
  </div>
</nav>

{% endif %}